---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const heaven = await getCollection("heaven");
const announcements = await getCollection("announcements");
const community = await getCollection("community");
const author = await getCollection("author");
const events = await getCollection("events");
const releases = await getCollection("releases");

const posts = [
  ...heaven,
  ...announcements,
  ...community,
  ...author,
  ...events,
  ...releases,
].sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="dir">
    <div class="bg-gradient-linear-dark"></div>
    <Header />
    <main>
      <section class="filter"></section>
      <section class="posts">
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`blog/${post.data.category}/${post.id}/`}>
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
