---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, HOME, BLOG, ABOUT, NEWSLETTER } from "../consts";
---

<header>
  <nav>
    <h1 id="logo">
      <HeaderLink href="/" class="aurora-text-light">{SITE_TITLE}</HeaderLink>
      <HeaderLink href="/"
        class="title-transparent-text-with-underline">{SITE_TITLE}</HeaderLink
      >
    </h1>
    <div class="internal-links">
      <HeaderLink href=`${HOME}`>Home</HeaderLink>
      <HeaderLink href=`${BLOG}`>Blog</HeaderLink>
      <HeaderLink href=`${ABOUT}`>About</HeaderLink>
      <HeaderLink href=`${NEWSLETTER}`>Newsletter</HeaderLink>
    </div>
  </nav>
</header>
